:root {
  font-size: 18px;
  font-family: Roboto;
}

.container {
  margin: auto;
  width: 80%;
  min-width: 768px;
}

div {
  outline: 1px solid cyan;
  margin: 2rem;
}

.divider {
  border-bottom: 2px solid yellow;
  margin-bottom: 2rem;
}

.demo {
  font-family: roboto;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-top: 1em;
  margin-bottom: 40px;
  user-select: none;
  overflow-x: auto;
}