/* 透视 3D 变换 */

body {
  perspective: 1000px;
}

.flip-wrapper {
  position: relative;
  width: 40vw;
  margin: auto;
  transition: transform .25s ease-in-out;
  transform-style: preserve-3d;
  background: lightcoral;
}

.flip-a:hover {
  animation: flip 1s ease-in-out;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.flip-b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  transform: rotateY(-180deg);
}

.flip-b,
.flip-a {
  backface-visibility: hidden;
}

